.App {
  text-align: center;
  display: flex;          /* flex container */
  flex-direction: column; /* Header → Main → Footer dikey sırada */
  min-height: 100vh; 
}

.main {
  flex: 1; /* Header ve Footer dışında kalan alanı doldur */
}

.ui.main.container{
  margin-top: 2em;
}

.slick-slide img {
  width: auto !important;
  height: auto !important;
  max-width: 800px !important;
  margin: 0 auto !important;
}

.slick-dots {
  position: absolute;
  bottom: 20px;   
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;     
  margin: 0;       
  padding: 0;
  width: auto;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(92, 91, 91) !important;
  font-size: 30px;
  opacity: 1;
}

/* Metin Seçim Rengini Ayarlar */
::selection {
  /* Arkaplan Rengi (Seçilen Metnin Kutusu) */
  background: #2ecc71 !important; /* Canlı bir yeşil tonu kullanıldı */
  
  /* Metin Rengi (Seçilen Metnin İçindeki Harfler) */
  color: #ffffff !important; /* Beyaz renk, yeşil üzerinde iyi görünür */
}

/* Farklı Tarayıcılar İçin Ön Ekli Versiyonlar */
/* Safari ve Chrome için */
::-webkit-selection {
  background: #2ecc71 !important;
  color: #ffffff !important;
}

/* Firefox için (Eski versiyonlar) */
::-moz-selection {
  background: #2ecc71 !important;
  color: #ffffff !important;
}

/* Desktopta görünecek */
.desktop-only {
  display: block;
}

/* Mobilde gizle */
.mobile-only {
  display: none;
}

/* Mobil görünümü */
@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}

.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-image-wrapper {
  width: 100%;
  height: 220px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.custom-menu {
  background-color: #8CC63E !important;
}

.custom-menu.active {
  background-color: #8CC63E;
  opacity: 0.7; 
}

.section-title {
  color: #8CC63E !important; 
}